<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card-panel teal">
      <span class="white-text">請先登入「<%=sails.config.appName%>」再進行刊登協尋啟事.
      </span>
    </div>
  </div>
</div>
<div class="center-align">
  <a href="/auth/facebook/?next=<%= encodeURIComponent(req.path) %>" class="waves-effect waves-light btn-large facebook-blue">透過臉書登入「<%=sails.config.appName%>」</a>
</div>
