<h1>Using Passport With Sails</h1>

<% if (req.user) { %>
<a href="/logout">Logout</a>
<% } else { %>
<a href="/login">Login</a> | <a href="/signup">Signup</a>
 | <a href="/auth/facebook">FB Login</a>
<% } %>