<nav>
	<div class="nav-wrapper">
		<div class="container">
			<a href="/" class="brand-logo"><%=sails.config.appName%></a>
			<% if (req.user) { %>
				<a href="#" data-activates="mobile-menu" class="button-collapse hide-on-med-and-up"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-small-only">
					<li><a href="/logout">登出</a></li>
				</ul>
				<ul class="side-nav" id="mobile-menu">
					<li><a href="/logout">登出</a></li>
				</ul>
			<% } %>			
		</div>
	</div>
</nav>