<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12 m6">
        <input placeholder="例：弟弟、妹妹" id="name" type="text" class="validate">
        <label for="first_name">寵物名稱</label>
      </div>
      <div class="input-field col s12 m6">
        <select id="kind">
          <option value="" disabled selected>請選擇</option>
          <option value="cat">貓</option>
          <option value="dog">狗</option>
          <option value="other">其他</option>
        </select>
        <label>寵物類別</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m6">
        <select id="gender">
          <option value="" disabled selected>請選擇</option>
          <option value="female">母</option>
          <option value="male">公</option>
        </select>
        <label>寵物性別</label>
      </div>
      <div class="input-field col s12 m6">
        <input placeholder="例：黑、玳瑁" id="color" type="text" class="validate">
        <label for="first_name">花色</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m6">
        <select id="gender">
          <option value="" disabled selected>請選擇</option>
          <option value="large">大</option>
          <option value="medium">中</option>
          <option value="small">小</option>
        </select>
        <label>體型</label>
      </div>
    </div>
    <div class="row">
    </div>
  </form>
</div>